body{
	background-color:#8B0000;
	margin-top:-1px;
	margin-left:-1px;
	margin-right:-1px;
}

#titulo{
		text-align: center;
		text-transform:uppercase ;
		border: 15px solid #000000;
		color: 	#FFFF00;
		font-size: 50px;
		top:20px;
		box-shadow: 0px 4px 8px yellow;
		
}
#botao2{
	border-radius: 20px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 8px red;
	cursor: pointer;
	
	}


#botao3{ 
	border-radius: 20px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 8px red;
	cursor: pointer;
  }

header {
  background-color: black;
  padding:40px;
   
}
#logo{
	height: 50px;
	box-shadow: 0px 4px 8px black;
	position: absolute;
	top: 535px; 	
	right: 20px;
	width: 50px;
	bottom: 0;
	right: 0;
	position:fixed;
	
}


#criador{
	
	position: fixed;
	top: 570px; 	
	font-size:15px;
	text-decoration:underline;
	color:white;
	bottom: 0;
	right: 0;
}
#imagem{
	
	width:100%;
	height:auto;
	max-width:50vw;
	
}
#franflix{
	position: absolute;
	top: 10px; 
	width:250px;
	height:80px;
	margin-left:-30px;
	
	
}
.aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 9 dividido por 16, multiplicado por 100 para obter a porcentagem */
}






