body{
	
background-color:black;
}

#titulo{
	
	color: white;
	text-align:center;
	text-transform:uppercase;
}



#video{

	padding-bottom: 56.25%; 
	overflow: hidden;
	width: 60%;
	aspect-ratio: 16 / 9;
	position: absolute;
	top: 10%;
	right:20%;
}