body{
	
background-color:black;
}

#titulo{
	
	color: white;
	text-align:center;
	text-transform:uppercase;
}

#retangulo{
		
	width: 50vw;
	height: 100vh;
	border:5px solid black;
	border-radius: 10px;
	background-color: white;
	
}

#video{
	width:560px;
	height:315px;
	margin:20px;
}