body{
	background-color:#8B0000;
}

#titulo{
		text-align: center;
		text-transform:uppercase ;
		border: 15px solid #000000;
		border-radius: 20px;
		color: 	#FFFF00;
		font-size: 50px;
	
		
}
#botao2{
	border-radius: 20px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 8px red;
	cursor: pointer;
	}


#botao3{ 
	border-radius: 20px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 8px red;
	cursor: pointer;
  }

header {
  background-color: black;
  padding:1px;
   
}
#logo{
	height: 50px;
	box-shadow: 0px 4px 8px black;
	position: absolute;
	top: 535px; 	
	right: 20px;
	width: 50px;
	
}


#criador{
	
	position: absolute;
	top: 570px; 	
	right: 10px;
	font-size:15px;
	text-decoration:underline;
	color:white;
}
#imagem{
	
	width:100%;
	height:auto;
	max-width:50vw;
}
#franflix{
	position: absolute;
	top: 10px; 
	width:250px;
	height:80px;
	aspect-ratio: 16/9;
}


