body{
	background-color: #B0E0E6;
}
#titulo{
	text-align: center;
	text-transform:uppercase;
	text-decoration: underline;
}

#botao{
		border-bottom-color:red;
		border-color: red;
		border-radius: 20px;
		width: 200px;
		height: 50px;
		box-shadow: 0px 4px 4px ;
}



#retangulo{
	
	width: 100vw;
	height: 30vh;
	border:5px solid black;
	border-radius: 20px;
	background-color: white;
}

#download{
	
		width: 200px;
		height: 50px;
		margin-top:40px;
		border: 2px solid black;
		cursor: pointer;
		border-radius: 20px;
		box-shadow: 0px 3px 3px ;
}
#texto{
	
		text-transform:uppercase;
		
}

#inicio{
	
	text-transform:uppercase;
	font-size:15px;
	cursor: pointer;
}
.elenco{
		
		border-radius: 20px;
		box-shadow: 0px 3px 3px ;
		width: 200px; /* Defina a largura desejada */
		height: 50px; /* Defina a altura desejada */
		cursor: pointer;
		text-transform:uppercase;
		
	
}

